html {background-color:black; color:white}


#mainPage{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#gridHolder{

    display:flex;
    height:500px;
    width:500px;
    border-style:solid;
    border-color:rgba(54, 53, 53, 0.144);
    flex-wrap:wrap;
    

}

.button{
    padding:20px;
    border-style:solid;
    border-radius:20px;
}

#blackButton{
    background-color:black;
    color:white;
    border-color:white;
}

#whiteButton{
    background-color:white;
    color:black;
    border-color:black;
}

#RGBButton{
    background-color: #7FFFD4;
    color: #FF8AFF;
    border-color:#FF8AFF;
}

.gridBox{
    background-color:darkgray;
    border-width:0px 1px 1px 0px;
    border-style:solid;
    border-color:black;
    flex-grow:1;
}

.gridRow{
    display:flex;
    width:500px;
}

.selectionDisplayBox{
    height:50px;
    width:150px;
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-style: solid;
    margin-top:30px;
}

#inputGridSize {
    margin-bottom:30px;
}

.topBox{
    border-top:1px;
}

.leftBox{
    border-left:1px;
}


